<div>
  <input type="text" [formControl]="searchControl" placeholder="Введите ID пользователя">
  <button (click)="clickPoiskUser()">Найчать поиск по ID</button>
  <button (click)="togleAllUser()">{{ showFavarite ? 'Показать всех' : 'скрыть всех' }}</button>

<div *ngIf="user$ |async as user">
  <h3>{{user.login}}</h3>
  <img [src]="user.avatar_url" alt="Avatar" width="100"><br>
  <a [href]="user.html_url" target="_blank">Перейти на профиль гита</a>
  <button (click)="togleFavorite(user)">{{ isFavorite(user) ? 'удалить из избранного' : 'Добавить в избранное' }}</button>
</div>
<div *ngIf="!(user$ | async)">
  <p>не нашли такого</p>
</div>

<div>  <button (click)="clearSearch()">Очистить поиск</button>
  <button (click)="togleSpisokID()">Показать всю историю поиска</button>
  <button (click)="togleSpisokIDFavorite()">Показать кто хранится в избранном</button>

  <div *ngIf="showHistoriPoisk">
     <p  *ngFor="let item of faviriteHistory ">{{item? item : 'не найдено'}}</p>
  </div>
  <div *ngIf="showHistoryFavorites">
    <div *ngFor="let user of favarites">
      <h3>{{ user.login }}</h3>
      <img [src]="user.avatar_url" alt="Avatar" width="100"><br>
      <a [href]="user.html_url" target="_blank">Перейти на профиль гита</a>
      <button (click)="togleFavorite(user)">{{ isFavorite(user) ? 'удалить из избранного' : 'Добавить в избранное' }}</button>
    </div>
  </div>
